<div id="<%= dom_id friend %>">
  <p>
    <strong>Name:</strong>
    <%= friend.first_name %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= friend.last_name %>
  </p>

  <p>
    <strong>Nickname:</strong>
    <%= friend.nickname %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= friend.age %>
  </p>

  <p>
    <strong>Address line 1:</strong>
    <%= friend.address_line1 %>
  </p>

  <p>
    <strong>Address line 2:</strong>
    <%= friend.address_line2 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= friend.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= friend.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= friend.zip %>
  </p>

  <p>
    <strong>Interests:</strong>
    <%= friend.interests %>
  </p>

</div>
